{% extends 'base.html' %} {% block content %}
<h3>Search employee record</h3>
<br />

<!-- <form name="emp-search" action="." method="POST" onchange="required()"> -->
<form name="emp-search" action="." onchange="required()">
  {% csrf_token %}
  <!-- <div class="container"> -->
  <!-- Employee Number {{ record.emp_no }} -->
  Employee Number
  <input
    type="text"
    id="emp_no"
    name="emp_no"
    onclick="
    if(document.getElementById('edit-button') != undefined) {
      document.getElementById('edit-button').style.display = 'none';
    };
    if(document.getElementById('delete-button') != undefined) {
      document.getElementById('delete-button').style.display = 'none';
    };
    if(document.getElementById('employees-table-body') != undefined) {
      document.getElementById('employees-table-body').style.display = 'none';
    };"
  />
  <input
    type="submit"
    formmethod="post"
    value="Search"
    id="search-button"
    class="inline"
    disabled="true"
  />
  <div class="alert alert-warning inline" id="missing-emp-no" hidden>
    <strong>Warning !</strong> Employee number can not be alpha numeric.
  </div>
  <div class="alert alert-success inline" hidden>
    <strong>Success!</strong>
  </div>
  {% if record|length != 0 %}
  <button
    onclick="editRecord()"
    type="button"
    id="edit-button"
    class="inline"
    hidden
  >
    Edit
  </button>
  <button
    onclick="window.location.href = '/api/deleteEmployee/emp_no=' + getSelectedEmployee()"
    type="button"
    id="delete-button"
    class="inline"
    hidden
  >
    Delete
  </button>
  <button
    onclick="updateRecord()"
    type="button"
    id="update-button"
    class="inline"
    hidden
  >
    Update
  </button>
  {% else %}
  <button
    onclick="updateRecord()"
    type="button"
    id="update-button"
    class="inline"
  >
    Create
  </button>
  {% endif %}
  <!-- </div> -->
  <script>
    // get selected row
    function getSelectedRow() {
      var table = document.getElementById("table");
      // var getTBody = table.getElementsByTagName("tbody")[0];
      var row_Index = $("input[name=radio-button]:checked")[0];
      var columnElem = row_Index.parentElement;
      var rowEleme = columnElem.parentElement;
      return rowEleme;
    }

    // get selected employee id
    function getSelectedEmployee() {
      var emp_no = getSelectedRow().getAttributeNames()[0];
      return emp_no;
    }

    // returns url's hostname and port
    function getHostName() {
      var hostname = location.host;
      return hostname;
    }

    // checks for employee search textbox validations
    var inputelem = document.getElementById("emp_no");
    function required() {
      if (inputelem.value == "*") {
        document.getElementById("search-button").disabled = false;
        document.getElementById("missing-emp-no").setAttribute("hidden", "");
      } else if (inputelem.value != "") {
        var value = parseInt(inputelem.value);
        if (value != inputelem.value) {
          document.getElementById("search-button").disabled = true;
          document.getElementById("missing-emp-no").removeAttribute("hidden");
        } else {
          document.getElementById("search-button").disabled = false;
          document.getElementById("missing-emp-no").setAttribute("hidden", "");
        }
      } else {
        document.getElementById("search-button").disabled = true;
        document.getElementById("missing-emp-no").setAttribute("hidden", "");
      }
    }

    // makes selected row's fields editable
    function editRecord() {
      var selected_row = getSelectedRow();
      var emp_no = getSelectedEmployee();
      var cells = selected_row.getElementsByTagName("td");
      for (var x = 1; x < cells.length; x++) {
        var each_cell = cells[x];
        var para = each_cell.getElementsByTagName("p");
        for (var y = 0; y < para.length; y++) {
          var input = para[y].getElementsByTagName("input");
          input[0].removeAttribute("hidden");
          document.getElementById("update-button").removeAttribute("hidden");
        }
      }
    }

    // update record
    function updateRecord() {}
  </script>
</form>
<br />
<h3>Employee List</h3>
<br />
<!-- <button name="refreshdate" id="refreshdate">Refresh</button> -->
<table class="table table-hover" id="table">
  <thead>
    <!--    <h3>User - <h3>{{request.user}}</h3></h2>-->
    <tr>
      <th scope="col">Select</th>
      <th scope="col">emp_no</th>
      <th scope="col">first_name</th>
      <th scope="col">last_name</th>
      <th scope="col">gender</th>
      <th scope="col">birth_date</th>
      <th scope="col">hire_date</th>
    </tr>
  </thead>
  <tbody id="employees-table-body">
    {% for each_record in record %}
    <tr {{ each_record.emp_no }}>
      <td>
        <input
          type="radio"
          name="radio-button"
          onchange="getSelectedRow().setAttribute('id',
        'row-button-selected');
        document.getElementById('search-button').disabled = false;
        document.getElementById('delete-button').removeAttribute('hidden');
        document.getElementById('edit-button').removeAttribute('hidden');
        document .getElementById('emp_no').setAttribute('value',
        getSelectedEmployee());"
          id="radio-button"
        />
      </td>
      <th scope="row">{{ each_record.emp_no }}</th>
      <td>
        {{ each_record.first_name }}
        <p><input type="text" name="first_name" hidden onchange="" /></p>
      </td>
      <td>
        {{ each_record.last_name }}
        <p><input type="text" name="last_name" hidden /></p>
      </td>
      <td>
        {{ each_record.gender }}
        <p><input type="text" name="gender" hidden /></p>
      </td>
      <td>
        {{ each_record.birth_date }}
        <p><input type="text" name="birth_date" hidden /></p>
      </td>
      <td>
        {{ each_record.hire_date }}
        <p><input type="text" name="hire_date" hidden /></p>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
