{% extends 'base.html' %} {% block content %}
<h3>Search employee record</h3>
<br />
<form action="." method="POST">
  {% csrf_token %}
  <!-- <div class="container"> -->
  <!-- Employee Number {{ record.emp_no }} -->
  Employee Number
  <input
    type="text"
    id="emp_no"
    name="emp_no"
    onclick="
    if(document.getElementById('edit-button') != undefined) {
      getElementById('edit-button').style.display = 'none';
    };
    if(document.getElementById('delete-button') != undefined) {
      getElementById('delete-button').style.display = 'none';
    };
    if(document.getElementById('employees-table-body') != undefined) {
      getElementById('employees-table-body').style.display = 'none';
    };"
  />
  <input type="submit" value="Search" />
  {% if record|length != 0 %}
  <button type="submit" onclick="editrecord()" id="edit-button">Edit</button>
  <button type="submit" onclick="deleterecord()" id="delete-button">
    Delete
  </button>
  {% endif %}
  <!-- </div> -->
</form>
<br />
<h3>Employee List</h3>
<br />
<script>
  function editrecord() {
    document.getElementById;
  }
</script>
<!-- <button name="refreshdate" id="refreshdate">Refresh</button> -->
<table class="table table-hover">
  <thead>
    <!--    <h3>User - <h3>{{request.user}}</h3></h2>-->
    <tr>
      <th scope="col">Select</th>
      <th scope="col">emp_no</th>
      <th scope="col">first_name</th>
      <th scope="col">last_name</th>
      <th scope="col">gender</th>
      <th scope="col">birth_date</th>
      <th scope="col">hire_date</th>
    </tr>
  </thead>
  <tbody id="employees-table-body">
    {% for each_record in record %}
    <tr {{ each_record.emp_no }}>
      <td>
        <input
          type="radio"
          name="radio-button"
          onchange="getElementById('radio-button').setAttribute('id', 'radio-button-selected'); getSelectedEmployee()"
          id="radio-button"
        />
      </td>
      <script>
        function getSelectedEmployee() {
          var empRecord = document.getElementById("radio-button-selected");
          console.log(empRecord);
        }
      </script>
      <!-- <th scope="row">{{ each_record.emp_no }}</th>
            <td>{{ each_record.first_name|capfirst|upper }}</td>
            <td>{{ each_record.last_name|upper }}</td>
            <td>{{ each_record.gender }}</td>
            <td>{{ each_record.birth_date }}</td>
            <td>{{ each_record.hire_date }}</td> -->
      <th scope="row">{{ each_record.emp_no }}</th>
      <td>{{ each_record.first_name }}</td>
      <td>{{ each_record.last_name }}</td>
      <td>{{ each_record.gender }}</td>
      <td>{{ each_record.birth_date }}</td>
      <td>{{ each_record.hire_date }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
