{% extends 'base.html' %} {% block content %}
<h3>Search employee record</h3>
<br />

<form name="emp-search" action="." method="POST" onchange="required()">
  {% csrf_token %}
  <!-- <div class="container"> -->
  <!-- Employee Number {{ record.emp_no }} -->
  Employee Number
  <input
    type="text"
    id="emp_no"
    name="emp_no"
    onclick="
    document.getElementById('missing-emp-no').setAttribute('hidden', '');
    if(document.getElementById('edit-button') != undefined) {
      document.getElementById('edit-button').style.display = 'none';
    };
    if(document.getElementById('delete-button') != undefined) {
      document.getElementById('delete-button').style.display = 'none';
    };
    if(document.getElementById('employees-table-body') != undefined) {
      document.getElementById('employees-table-body').style.display = 'none';
    };"
  />
  <input type="submit" value="Search" id="search-button" class="inline" />
  <div class="alert alert-warning inline" id="missing-emp-no" hidden>
    <strong>Warning !</strong> Employee number can not be alpha numeric.
  </div>
  {% if record|length != 0 %}
  <button type="submit" onclick="editrecord()" id="edit-button" class="inline">
    Edit
  </button>
  <button
    type="submit"
    onclick="deleterecord()"
    id="delete-button"
    class="inline"
  >
    Delete
  </button>
  {% endif %}
  <!-- </div> -->
  <script>
    var inputelem = document.getElementById("emp_no");
    function required() {
      if (inputelem.value != "*") {
        var value = parseInt(inputelem.value);
        if (value != inputelem.value) {
          document.getElementById("search-button").disabled = true;
          document.getElementById("missing-emp-no").removeAttribute("hidden");
        } else {
          document.getElementById("search-button").disabled = false;
          document.getElementById("missing-emp-no").setAttribute("hidden", "");
        }
      } else if (inputelem.value == "*") {
        document.getElementById("search-button").disabled = false;
        document.getElementById("missing-emp-no").setAttribute("hidden", "");
      }
    }
  </script>
</form>
<br />
<h3>Employee List</h3>
<br />
<!-- <button name="refreshdate" id="refreshdate">Refresh</button> -->
<table class="table table-hover">
  <thead>
    <!--    <h3>User - <h3>{{request.user}}</h3></h2>-->
    <tr>
      <th scope="col">Select</th>
      <th scope="col">emp_no</th>
      <th scope="col">first_name</th>
      <th scope="col">last_name</th>
      <th scope="col">gender</th>
      <th scope="col">birth_date</th>
      <th scope="col">hire_date</th>
    </tr>
  </thead>
  <tbody id="employees-table-body">
    {% for each_record in record %}
    <tr {{ each_record.emp_no }}>
      <td>
        <input
          type="radio"
          name="radio-button"
          onchange="document.getElementById('radio-button').setAttribute('id', 'radio-button-selected'); getSelectedEmployee()"
          id="radio-button"
        />
      </td>
      <script>
        function getSelectedEmployee() {
          var empRecord = document.getElementById("radio-button-selected");
          console.log(empRecord);
        }
      </script>
      <th scope="row">{{ each_record.emp_no }}</th>
      <td>{{ each_record.first_name }}</td>
      <td>{{ each_record.last_name }}</td>
      <td>{{ each_record.gender }}</td>
      <td>{{ each_record.birth_date }}</td>
      <td>{{ each_record.hire_date }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
